:root{
    --red: #dc3545;
}

/************* 1- NAVBAR **************/


.navbar{
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 600;
}

.nav-link{
    color: black;
    transition: color .3s;
}

.nav-link:hover{
    color: var(--red);
}



/************* 2- CAROUSEL **************/

.carousel-item{
    max-height: calc(100vh - 88px);
}

.carousel-item h5{
    color: var(--red);
    font-size: 2rem;
    text-shadow: 2px 2px 10px black;
}

.carousel-item p{
    font-weight: 600;
    text-shadow: 2px 2px 10px black;
}

.carousel-item .btn{
    width: 7rem;
    margin-bottom: 1rem;
}

.carousel-indicators button{
    background-color: var(--red) !important;
    height: .3rem !important;
    width: 3rem !important;
    margin-right: .5rem !important;
}





/************* 3- ABOUT SECTION **************/


/************* 4- INSTRUCTORS **************/


/************* 5- STUDENTS SECTION **************/


/************* 6- COURSES SECTION **************/


/************* UP-BUTTON **************/


/************* 7- FOOTER **************/